html {
  position: relative;
  min-height: 100%;
}
.wrap{
  /* background-color: #eaeeff; */
  /* color: white; */
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Boogaloo' !important; 
}
footer {
  color: white;
  font-family: 'Boogaloo' !important; 
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image: url('../img/home-bg.png');
  position: absolute;
  bottom: 0;
}
.footer-wrap{
}
.header-wrap{
  color: white;
  background-image: url('../img/home-bg.png');
}
header h1{
  font-family: 'Monoton', sans-serif !important;
}
#pageTitle{
  border-bottom: none;
}
#leftPanel{
  border-right: 1px solid;
  margin-bottom: 30px;
}
.spacer{
  height: 15px;
}
.thumbnail{
  max-width: 200px;
  float: left;
  display: inline-block;
  margin-right: 10px;
    cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.thumbnail:hover{
      box-shadow: 1px 1px 10px 1px #030303;
}

#submit-button{
  margin-top: 10px;
  margin-bottom:10px;
}

.modal-title {
  font-family: 'Boogaloo' !important;
	font-size: 50px;
	color: darkblue;
}

.modal-header, .modal-footer {
  background-color: lightgray;
}

h4 {
  color: darkblue !important; 
}
.form-check-label{
  margin-left: 10px;
  font-weight: normal;
}